<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar-light bg-light">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-1">
                    <img class="img" style="height: 70px" src="~/Content/Images/book.png" />
                </div>
                <div class="col-2">
                    <a href="@Url.Action("Index", "Home", new { area = "" }, null)" style="text-decoration:none"><h2 class="Toptitle">Book<strong>Trade</strong></h2></a>
                </div>
                <div class="col-9">
                    <form class="form-inline" action="~/Books/Search" method="get">
                        <input class="form-control mr-sm-2" style="width:60%" type="search" name="search" id="search" placeholder="Search for books by keyword / title / author / ISBN" aria-label="Search">
                        <button href="href="@Url.Action("Search", "Books", new { search = "" }, null)" style="text-decoration:none"" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                        @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-outline-secondary my-2 my-sm-0" })
                        <div class="ml-auto">
                            <i class="fa fa-heart pl-5 navIcons add-pointer" onclick="location.href='@Url.Action("Index", "Wishlist")'">
                                <strong style="font-size:15px;display:flex;">Wishlist</strong>
                            </i>
                            <i class="fa fa-shopping-cart pl-4 navIcons add-pointer" onclick="location = 'Books/ShoppingCart'">
                                <strong style="font-size:15px;display:flex;">@ViewBag.TotalBooksInCart Items</strong>
                            </i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="hrNav">
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light my-0">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav" style="font-weight: bold;">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Bestsellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Coming Soon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Highlights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Trade Section</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop by category
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="portfolio-1-col.html">1 Shop by category</a>
                            <a class="dropdown-item" href="portfolio-2-col.html">2 Shop by category</a>
                            <a class="dropdown-item" href="portfolio-3-col.html">3 Shop by category</a>
                            <a class="dropdown-item" href="portfolio-4-col.html">4 Shop by category</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Other Pages
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                            <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                            <a class="dropdown-item" href="faq.html">FAQ</a>
                            <a class="dropdown-item" href="404.html">404</a>
                            <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" style="font-weight: bold;">
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </nav>
    <hr class="hrNav">
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr /> 
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h5>About</h5>
                    <br />
                    <p class="mb-0">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5>Informations</h5>
                    <br />
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h5>Others links</h5>
                    <br />
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h5>Contact</h5>
                    <br />
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> My company</li>
                        <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                        <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                        <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".add-pointer").hover(function () {
                $(this).css({ "cursor": "pointer" });
            })
            $(".remove-pointer").hover(function () {
                $(this).css({ "cursor": "default" });
            })
        });
    </script>
</body>
</html>