<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet">  
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <nav class="navbar-light bg-light">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-md-1 d-sm-none d-none d-md-block logo">
                    <img class="img" style="height: 70px" src="~/Content/Images/book.png" />
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("Index", "Home", new { area = "" }, null)" style="text-decoration:none"><h2 class="Toptitle">Book<strong>Trade</strong></h2></a>
                </div>
                <div class="col-md-6">
                    <form class="form-inline" action="~/Books/Search" method="get">
                        <input class="form-control mr-sm-2" style="width:75%" type="search" name="search" id="search" placeholder="Search for books by keyword / title / author / ISBN" aria-label="Search">
                        <button href="href=" @Url.Action("Search", "Books", new { search = "" }, null) " style=" text-decoration:none"" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="float-left float-md-right float-sm-left float-xl-right float-lg-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-outline-secondary my-1 my-sm-1 create-btn" })
                        }
                        <i class="fa fa-heart pl-4 navIcons add-pointer" onclick="location.href='@Url.Action("Index", "Wishlist")'">
                            <strong style="font-size:15px;display:flex;">Wishlist</strong>
                        </i>
                        <i class="fa fa-shopping-cart pl-4 navIcons add-pointer" onclick="location.href='@Url.Action("ShoppingCart", "Books")'">
                            <strong style="font-size:15px;display:flex;">@ViewBag.TotalBooksInCart Items</strong>
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hrNav">
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light my-0">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav" style="font-weight: bold;">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Bestsellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Coming Soon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Highlights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Trade Section</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop by category
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="portfolio-1-col.html">1 Shop by category</a>
                            <a class="dropdown-item" href="portfolio-2-col.html">2 Shop by category</a>
                            <a class="dropdown-item" href="portfolio-3-col.html">3 Shop by category</a>
                            <a class="dropdown-item" href="portfolio-4-col.html">4 Shop by category</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" style="font-weight: bold;">
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </nav>
    <hr class="hrNav">
    <br />
    <div class="container body-content">
        @RenderBody()
        <br /> 
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3" align="center">
                    <h5>About</h5>
                    <br />
                    <p class="mb-0">
                        Welcome to BookTrade, one of the world's leading specialist online bookstores where you can buy, sell and trade your favorite books.
                    </p>
                </div>

                <div class="col-md-4" align="center">
                    <h5>Contact</h5>
                    <br />
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> BookTrade</li>
                        <li><i class="fa fa-envelope mr-2"></i> contact@booktrade.com</li>
                        <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                        <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                    </ul>
                </div>

                <div class="col-md-5" align="center">
                    <p><strong>We accept these payment methods</strong></p>
                    <br />
                    <img src="~/Images/cards.jpg" class="img-fluid" />
                    <br />
                    <p>© 2018 BookTrade Ltd.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".add-pointer").hover(function () {
                $(this).css({ "cursor": "pointer" });
            })
            $(".remove-pointer").hover(function () {
                $(this).css({ "cursor": "default" });
            })
        });
    </script>
</body>
</html>