@model IT_BookTrade.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", new { }, new { @class = "btn btn-outline-secondary" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", new { }, new { @class = "btn btn-outline-secondary" })
            }
        </dd>
    </dl>

    <br />
    <h4>Manage your trades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Trade Offers", "TradeOffers", new { }, new { @class = "btn btn-outline-secondary" })
            }
        </dd>
    </dl>

    <br />
    <h4>Manage your offers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Offers", "Offers", new { }, new { @class = "btn btn-outline-secondary" })
            }
        </dd>
    </dl>
    <br />
    <h4>Check Your Order</h4>
    <hr />
    <p style="font-weight:bold">Invoice ID:</p>
    @using (Html.BeginForm("OrderSummary", "Books", FormMethod.Post))
    {
        <div class="form-row">
            <div class="col-auto">
                <input type="text" class="checkOrder form-control" placeholder="Example: 3-H5HXC" name="id" id="id" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primarybtn btn-outline-secondary">Check</button>
            </div>
            </div>
    }

</div>
