<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet" rel="stylesheet">
</head>
<body>
    <nav class="navbar-light bg-light">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-1">
                    <img class="img" style="height: 70px" src="~/Content/Images/book.png" />
                </div>
                <div class="col-2">
                    
                    <a href="@Url.Action("Index", "Home", new { area = "" }, null)"><h2 class="Toptitle">Book<strong>Trade</strong></h2></a>
                </div>



                <div class="col-9">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" style="width:60%" type="search" placeholder="Search for books by keyword / title / author / ISBN" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        <i class="fa fa-heart pl-5 navIcons">
                            <strong style="font-size:15px;display:flex;">Wishlist</strong>
                        </i>
                        <i class="fa fa-shopping-cart pl-4 navIcons">
                            <strong style="font-size:15px;display:flex;">0 Items</strong>
                        </i>
                    </form>
                </div>
            </div>


        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
