@model IT_BookTrade.Models.OrderDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CheckOut", "Books", FormMethod.Post, new { @class = "", role = "form" }))
{
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="row my-3">
                    <div class="col-md-12">
                        <h1>Checkout</h1>
                        <hr>
                        <div class="progress" style="height: 20%;">
                            <div class="progress-bar progress-bar-striped" style="width: 100%">Payment</div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label"><strong>Payment Method</strong></label>
                       @Html.DropDownListFor(m => m.CardType, new List<SelectListItem>
                   { new SelectListItem{Text="VISA", Value="VISA"},
                     new SelectListItem{Text="Maestro", Value="Maestro"},
                     new SelectListItem{Text="MasterCard", Value="MasterCard"},
                     new SelectListItem{Text="American Express", Value="American Express"}
                  }, "Please select", new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label"><strong>Name on Card</strong></label>
                        @Html.TextBoxFor(m => m.CardName, new { @class="form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label"><strong>Card Number</strong></label>
                        @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label"><strong>Billing Address</strong></label>
                        @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"><strong>CVC</strong></label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label"><strong>Expiration</strong></label>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="ex. 311">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="MM" name="mm" id="mm">
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.ExpDate, new { placeholder = "YYYY", @class = "form-control" })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        @Html.CheckBoxFor(m => m.Gift)
                        <label class="form-check-label" for="defaultCheck1">
                            Send As Gift
                        </label>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 form-group">
                        <label class="control-label"><strong>Shipping Address</strong></label>
                        @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "form-control" })
                    </div>
                </div>

                <div class='row mt-3'>
                    <div class='col-md-12'>
                        <div class='form-control btn btn-success'>
                            <p class="rounded boja">Total: $@ViewBag.TotalCostOfCart</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-md-12 form-group'>
                        <button class='form-control btn btn-primary submit-button' type='submit' value="Pay">Pay</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>
}