@model IT_BookTrade.Models.Book

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>



        <div class="row py-4">
            <div class="col-3">
                <img src="@Model.ImageURL" />
            </div>
            <div class="col-6">
                <strong>@Html.DisplayNameFor(model => model.Title)</strong> @Html.DisplayFor(model => model.Title)
                <hr>
                <strong>@Html.DisplayNameFor(model => model.BookAuthor)</strong>  	@Html.DisplayFor(model => model.BookAuthor)
                <br>
                <strong>@Html.DisplayNameFor(model => model.ISBN)</strong>  	@Html.DisplayFor(model => model.ISBN)
                <br>
                <strong>@Html.DisplayNameFor(model => model.Tradeable)</strong> @(Model.Tradeable ? "Yes" : "No")

                <br><strong>@Html.DisplayNameFor(model => model.Rating)</strong>
                <div class="star-ratings-sprite"><span style="width:@(Model.Rating*20)%" class="star-ratings-sprite-rating"></span></div>
                <span>  @Html.DisplayFor(model => model.Rating)/5</span>
                <br>
                <strong>@Html.DisplayNameFor(model => model.Description)</strong>  @Html.DisplayFor(model => model.Description)
                <br><br>
                <strong>@Html.DisplayNameFor(model => model.BookDescription)</strong><br>
                @Html.DisplayFor(model => model.BookDescription)
            </div>

            <div class="col-3" style="border:1px solid silver;border-radius:20px;">
                <strong style="color:#23c9ff;"> @Html.DisplayNameFor(model => model.Price)</strong>  <span style="color:#23c9ff;font-size:30px;">$@Html.DisplayFor(model => model.Price)</span>
                <div>
                    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-outline-secondary" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-secondary" })
                    @if ((ViewBag.BookIDs as List<int>).Contains(Model.ID))
                    {
                        @Html.ActionLink("In Cart", "RemoveFromCartDetails", new { id = Model.ID }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("Add to Cart", "AddToCartDetails", new { id = Model.ID }, new { @class = "btn btn-success" })
                    }
                </div>                                                                                   
            </div>
        </div>
</div>


