@model IT_BookTrade.Models.Book

@{
    ViewBag.Title = Model.Title;
}

<div>
    <h4 style="font-weight: bold">@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>



        <div class="row py-4">
            <div class="col-md-3">
                <img src="@Url.Content(Model.ImagePath)" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <p class="lh"><strong>By (author) </strong>@Html.DisplayFor(model => model.BookAuthor)</p>
                <p class="lh"><strong>Language: </strong> @Html.DisplayFor(model => model.Language)</p>
                <p class="lh"><strong>ISBN: </strong>@Html.DisplayFor(model => model.ISBN)</p>
                <p class="lh"><strong>Category: </strong> @Html.DisplayFor(model => model.Category)</p>
                <p class="lh"><strong>Available for Trade: </strong> @(Model.Tradeable ? "Yes" : "No") </p>
                <div class="lh">
                    <strong>Rating:</strong>
                    @if (Model.Ratings > 0)
                    {
                        <div class="star-ratings-sprite"><span style="width:@(Model.Rating*20)%" class="star-ratings-sprite-rating"></span></div>
                        <span>@Html.DisplayFor(model => model.Rating)/5</span>
                    }
                    else
                    {
                        <span>No rating yet!</span>
                    }
                </div>
                <br />
                <p class="lh"><strong>Book Condition:</strong>  @Html.DisplayFor(model => model.Description)</p>
                <p class="lh"><strong>Seller: </strong>  @ViewBag.SellerName</p>
                <strong>Description:</strong>
                <p>@Html.DisplayFor(model => model.BookDescription)</p>
            </div>

            <div class="col-md-3" style="border:1px solid silver;border-radius:20px;height:500px;">
                <strong style="color:#28a745;">Price: </strong>  <span style="color:#28a745;font-size:30px;font-weight:bold;">$@Html.DisplayFor(model => model.Price)</span>

                @if (Model.Amount > 0)
                {
                    <div>
                        <p style="font-size:25px"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Available: @Model.Amount Left</p>

                        @if (!User.Identity.Name.Equals(Model.SellerEmail))
                        {
                            if ((ViewBag.BookIDs as List<int>).Contains(Model.ID))
                            {
                                @Html.ActionLink("In Cart", "RemoveFromCartDetails", new { id = Model.ID }, new { @class = "btn btn-block btn-danger" })
                            }
                            else
                            {
                                @Html.ActionLink("Add to Cart", "AddToCartDetails", new { id = Model.ID }, new { @class = "btn btn-block btn-success" })
                            }
                        }

                        @if (!User.Identity.Name.Equals(Model.SellerEmail))
                        {
                            @Html.ActionLink("Add to Wishlist", "AddToWishlistDetails", new { id = Model.ID }, new { @class = "btn btn-block btn-danger" })
                        }
                        @if (Model.Tradeable && !User.Identity.Name.Equals(Model.SellerEmail))
                        {
                            @Html.ActionLink("Contact Trader", "TradeContact", new { user = Model.SellerEmail }, new { @class = "btn btn-block btn-info" })
                            <button class="btn btn-block btn-success" onclick="myFunction()">Request Trade</button>
                        }
                    </div>
                }
                else
                {
                    <p style="font-size:25px"><i class="fa fa-times" aria-hidden="true"></i> Not Available</p>
                    if (!User.Identity.Name.Equals(Model.SellerEmail))
                    {
                        @Html.ActionLink("Add to Wishlist", "AddToWishlistDetails", new { id = Model.ID }, new { @class = "btn btn-block btn-danger" })
                    }
                }
                <div class="pt-2">
                    @if (User.Identity.Name.Equals(Model.SellerEmail) || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-block btn-secondary" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-block btn-danger" })
                    }
                </div>

                @if (!User.Identity.Name.Equals(Model.SellerEmail) && !ViewBag.Rated)
                {
                    <div class="mt-3" style="font-size:25px">Rate book:</div>
                    <div id="rate">
                        @Html.ActionLink(" ", "Rate", new { id = Model.ID, rating = 1 }, new { @class = "fa fa-star", @style = "font-size:30px;color:grey;" })
                        @Html.ActionLink(" ", "Rate", new { id = Model.ID, rating = 2 }, new { @class = "fa fa-star", @style = "font-size:30px;color:grey;" })
                        @Html.ActionLink(" ", "Rate", new { id = Model.ID, rating = 3 }, new { @class = "fa fa-star", @style = "font-size:30px;color:grey;" })
                        @Html.ActionLink(" ", "Rate", new { id = Model.ID, rating = 4 }, new { @class = "fa fa-star", @style = "font-size:30px;color:grey;" })
                        @Html.ActionLink(" ", "Rate", new { id = Model.ID, rating = 5 }, new { @class = "fa fa-star", @style = "font-size:30px;color:grey;" })
                    </div>
                }

            </div>
        </div>
</div>


<script>
    function myFunction() {
        var myWindow = window.open("@Url.Action("TradeOffer", "Books", new { id = @Model.ID })", "", "width=700,height=300");
    }

    $(document).ready(function () {
        var b1 = "#rate > a:nth-child(1)";
        var b2 = "#rate > a:nth-child(2)";
        var b3 = "#rate > a:nth-child(3)";
        var b4 = "#rate > a:nth-child(4)";
        var b5 = "#rate > a:nth-child(5)";

        
        $(document).on("mouseenter", b1, function () {
            $(b1).css({
            "color": "#e7711b",
            "text-decoration" : "none"
            });
        })

        $(document).on("mouseenter", b2, function () {
            $(b1 + "," + b2).css({
                "color": "#e7711b",
                "text-decoration": "none"
            });
        })

        $(document).on("mouseenter", b3, function () {
            $(b1 + "," + b2 + "," + b3).css({
                "color": "#e7711b",
                "text-decoration": "none"
            });
        })

        $(document).on("mouseenter", b4, function () {
            $(b1 + "," + b2 + "," + b3 + "," + b4).css({
                "color": "#e7711b",
                "text-decoration": "none"
            });
        })

        $(document).on("mouseenter", b5, function () {
            $(b1 + "," + b2 + "," + b3 + "," + b4 + "," + b5).css({
                "color": "#e7711b",
                "text-decoration": "none"
            });
        })

        $(document).on("mouseleave", b1 + "," + b2 + "," + b3 + "," + b4 + "," + b5, function () {
            $(b1 + "," + b2 + "," + b3 + "," + b4 + "," + b5).css("color", "grey");
        })
    });

</script>