@model IEnumerable<IT_BookTrade.Models.Book>

@{
    ViewBag.Title = "Index";
}

<div class="container my-2">
    

    @for (int i = 0; i < 2; i++) {
        var mod = Model;
        if (i == 0)
        {
            <h3>Bestsellers</h3>
            mod = Model.OrderByDescending(x => x.Rating);
        }
        if (i == 1)
        {
            <h3>Books for Trade</h3>
            mod = Model.Where(x => x.Tradeable);
        }

        <hr />
        <div id="bestsellers" class="row my-3">
            @foreach (var book in mod.Take(6))
            {
                <div class="col-lg-2 col-md-4 mb-4 d-flex align-items-stretch">
                    <div class="card h-100">
                        <a href="@Url.Action("Details", "Books", new { id = book.ID })" style="text-decoration:none" class="cards-a">
                            <div class="card add-pointer">
                                <img class="card-img-top card-img" src="@Url.Content(book.ImagePath)" alt="">
                                <div class="card-body h-100">
                                    <div class="card-title card-Title">@book.Title</div>
                                    <div class="card-text card-Author">@book.BookAuthor</div>
                                    <div class="star-ratings-sprite"><span style="width:@(book.Rating*20)%" class="star-ratings-sprite-rating"></span></div>
                                    <div class="card-text">Tradeable: @(book.Tradeable ? "Yes" : "No")</div>
                                    <div class="card-text card-price">$@book.Price</div>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer">
                            @if ((ViewBag.BookIDs as List<int>).Contains(book.ID))
                            {
                                @Html.ActionLink("In Cart", "RemoveFromCartIndex", new { id = book.ID }, new { @class = "btn btn-danger btn-block" })
                            }
                            else
                            {
                                @Html.ActionLink("Add to Cart", "AddToCart", new { id = book.ID }, new { @class = "btn btn-success btn-block" })
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    <!--BESTSELLERS-->

    }
   

   
</div>