@model IT_BookTrade.Models.OrderDetails
@{
    ViewBag.Title = "Order Summary";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-12">
            <div class="text-center">
                <h2>Invoice for order #@Model.InvoiceID</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3 float-xs-left">
                    <div class="card height h-100">
                        <div class="card-header">Billing Details</div>
                        <div class="card-body">
                            <strong>@Model.CardName</strong><br>
                            @Model.BillingAddress<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="card height h-100">
                        <div class="card-header">Payment Information</div>
                        <div class="card-body">
                            <strong>Card Name:</strong> @Model.CardName<br>
                            <strong>Card Number:</strong> ***** @Model.CardNumber<br>
                            <strong>Exp Date:</strong> @Model.ExpDate<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="card height h-100">
                        <div class="card-header">Order Preferences</div>
                        <div class="card-body">
                            <strong>Gift:</strong> @Model.Gift ? "Yes" : "No"<br>
                            <strong>Express Delivery:</strong> Yes<br>
                            <strong>Insurance:</strong> No<br>
                            <strong>Discount:</strong> @Model.DiscountPrecentage<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 float-xs-right">
                    <div class="card height h-100">
                        <div class="card-header">Shipping Address</div>
                        <div class="card-body">
                            <strong>David Peere:</strong><br>
                            1111 Army Navy Drive<br>
                            Arlington<br>
                            VA<br>
                            <strong>22 203</strong><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center"><strong>Order summary</strong></h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td><strong>Book Name</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong>Price</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderItems)
                                {
                                    <tr>
                                        <td>@item.BookTitle</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">$@item.BookPrice</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-right">$@ViewBag.TotalCost</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row py-3">
        <div class="col-xs-12 col-12">

            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3 float-xs-left">

                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">

                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">

                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 float-xs-right">
                    @Html.ActionLink("Continue Shopping", "Index", new { }, new { @class = "form-control btn btn-success btn-block submit-button" })
                </div>
            </div>
        </div>
    </div>

</div>

