@model IEnumerable<IT_BookTrade.Models.Book>

@{
    ViewBag.Title = "ShoppingCart";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tradeable)
        </th>
        <th>
            @Html.ActionLink("Clear cart", "ClearShoppingCart", new {  }, new { @class = "btn btn-danger" })
        </th>
    </tr>

@foreach (var book in Model) {
    <tr>
        <td>
            <div>
                @book.Title
            </div>
        </td>
        <td>
            <div>
                @book.BookAuthor
            </div>
        </td>
        <td>
            <div>
                <img height="200" src="@book.ImageURL" />
            </div>
        </td>
        <td width="150">
            <div>
                @for (int i = 0; i < book.Rating; ++i)
                {
                    <img class="card-star" src="~/Content/Images/star.png" alt="">
                }
            </div>
        </td>
        <td>
            <div class="card-text card-price">
                $@book.Price
            </div>
        </td>
        <td>
            <div>
                @(book.Tradeable ? "Yes" : "No")
            </div>
        </td>
        <td>
            @Html.ActionLink("Remove from cart", "RemoveFromCart", new { id=book.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-outline-secondary" })
    @Html.ActionLink("Checkout", "Index", new { }, new { @class = "btn btn-outline-success" })
    <div class="card-text card-price">Total: $@ViewBag.TotalCostOfCart</div>
</div>
    
