@model IEnumerable<IT_BookTrade.Models.ShoppingCartItem>

@{
    ViewBag.Title = "ShoppingCart";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            Book Author
        </th>
        <th>
            ImageURL
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
        <th>
            Tradeable
        </th>
        <th>
            @Html.ActionLink("Clear cart", "ClearShoppingCart", new {  }, new { @class = "btn btn-danger" })
        </th>
    </tr>
   
@foreach (var item in Model) {
    <tr>
        <td>
            <div>
                @item.Book.Title
            </div>
        </td>
        <td>
            <div>
                @item.Book.BookAuthor
            </div>
        </td>
        <td>
            <div>
                <img height="200" src="@item.Book.ImageURL" />
            </div>
        </td>
        <td>
            <div class="star-ratings-sprite"><span style="width:@(item.Book.Rating*20)%" class="star-ratings-sprite-rating"></span></div>
            <span>@item.Book.Rating/5</span>
        </td>
        <td>
            <div class="card-text card-price">
                $@item.Book.Price
            </div>
        </td>
        <td>
            <div>
                @(item.Book.Tradeable ? "Yes" : "No")
            </div>
        </td>
        <td>
            @Html.ActionLink("Remove from cart", "RemoveFromCart", new { id= item.Book.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-outline-secondary" })
    @Html.ActionLink("Checkout", "CheckOut", new { }, new { @class = "btn btn-outline-success" })
    <div class="card-text card-price">Total: $ @ViewBag.TotalPrice</div>
</div>
    
